@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body{
    background-image: linear-gradient( rgba(138, 124, 49, 0.329), rgba(65, 56, 10, 0.726), rgba(57, 102, 57, 0.329)),url(../bbtbackgroun.jpg);
    background-repeat: repeat;
    background-size: 600px;
    z-index: -2;
}
.main-content{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.rec1, .rec1 p{
    font-family: 'Oswald', sans-serif;
}
.rec1.section-row{
    width: 90%;
    margin-top: 75px;
    border-radius: 30px 30px 0px 0px;
    align-items: start;
    justify-content: stretch;
}
.inside{
    position: relative;
    right: 15%;
    border-top: 20px solid rgb(255, 252, 248);
    border-right: 20px solid rgb(255, 252, 248);
    border-left: 20px solid rgb(255, 252, 248);
    width: 50%;
    height: 300%;
    margin: 20px 20px 0px 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: antiquewhite;
    box-shadow: inset 0px 0px 5px 10px rgb(197, 181, 158);
    color: #404040;
}
.inside.sidebar{
    width: 20%;
    right: 0;
}
.inside-content{
    padding: 2% 5% 5% 5%;
}
.rec1 .main-img{
    margin-left: 20px;
    margin-right: 50px;
    float: right;
    min-width: 300px;
    width: 45%;
}
.main-img img{
    width: 100%;
    height: auto;
}
.main--2{
    margin-left: 25px;
}
.main--2 ul{
    list-style-type: none;
    padding: 0;
}
.main--2 li input{
    height: 100%;
}
.inside p, .inside li, p{
    font-size: large;
    font-weight: normal;
    letter-spacing: normal;
}
.inside-content i{
    opacity: .7;
}
p{
    text-indent: 50px;
}
@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 820px) {
    .rec1 .main-img{
        margin: auto;
        margin-bottom: 40px;
        float: none;
    }
    /*fix this margin on mobile*/
    .main--2{
        margin: none;
    }
    .inside{
        border-top: 10px solid rgb(121, 100, 71);
        border-right: 10px solid rgb(121, 100, 71);
        border-left: 10px solid rgb(121, 100, 71);
    }

}